body {
    background-color: #111;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.myFavoriteLecturePage {
    margin-top: 150px;
}

.myFavoriteLecture {
    color: white;
    font-size: 27px;
    margin-left: 60px;
    margin-bottom: -20px;
}

.img-table {
    display: inline-block;
    
}

.table {
    border-spacing: 30px 35px;
    margin-left: 60px;
}